accelerate
datasets
huggingface-hub
ipywidgets
jupyter
nbstripout
netron
notebook
onnx==1.19.0
onnxconverter-common==1.15.0
onnxruntime~=1.22.1
onnxruntime-genai==0.4.0
onnxscript
optimum~=1.21.3
Pillow
pycocotools
safetensors
timm
transformers
Ultralytics
zstd
