datasets
huggingface-hub~=0.24.5
onnx>=1.17.0,<=1.19.0
onnxruntime>=1.21.1,<=1.22.1
onnxruntime-genai==0.4.0
onnxruntime_extensions>=0.4.2
onnxscript
opencv-python
optimum~=1.21.3
Pillow
pycocotools
timm
torch>=2.7.0,<2.9.0
torchvision>=0.22.1,<=0.23.0
transformers~=4.43.4
Ultralytics
zstd
